<%= form_with(model: @evaluation) do |form| %>

    <div class="field">
    <%= form.label :point %>
    1~5で入力して下さい。
    <br>
    <%= form.number_field :point, min:1, max:5 %>
    </div>
    <div class="field">
    <%= form.label :evaluation_comment %>
    <%= form.text_area :evaluation_comment, placeholder: 'コメントをご記入ください'%>
    </div>
    <div class="field">
    <%= form.hidden_field :organization_user_id, value: @organization_user_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>