<body>

<% if @over_ten %>
<%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

  
<div class="ui segment">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <% if message.body.present? %>
          <div class="item">
            <div class="content">
                <div class="mheader"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
                <div class="list">
                  <div class="item">
                    <i class="right triangle icon"></i>
                    <%= message.body %> /
                    <% if message.user == current_user %>
                      <%= message.read ? '既読' : '未読' %>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <%= form_with(model: [@conversation, @message]) do |f| %>
    
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "件") %> のエラーが発生しいるので保存に失敗しました:</h2>
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
    <%= f.text_area :body, class: "form-control", placeholder: 'メッセージを入力して下さい。' %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :conversation_id, value: current_user.id %>

  <div>
    <%= f.submit "メッセージを送る" %>
  </div>
<% end %>
<div class="push"></div>
</body>