<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_with model: @user, url: user_registration_path, id: 'edit_user', class: 'edit_user', local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label t('devise.registrations.edit.avatar') %><br />
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="field">
  <%= f.label t('devise.registrations.edit.name') %><br />
  <%= f.text_field :name, autofocus: true, placeholder: '名前' %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(変更がない場合は空欄のまま変更を保存して下さい。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上で入力して下さい。</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(現在のパスワードを入力してください。)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'パスワード' %>
  </div>

  <div class="field">
  <%= f.label t('devise.registrations.edit.address') %>
  <%= f.select :address, User.addresses.keys %>
  </div>

  <div class="field">
  <%= f.label "プロフィール" %><br />
  <%= f.text_area :profile, autofocus: true, placeholder: '自由記入欄' %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.edit.update') %>
  </div>

<% end %>
<br>
<br>
<h3>アカウントを削除</h3>

<p><%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>

