
<h2><%= t('devise.registrations.new.signup') %></h2>
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label t('devise.registrations.new.avatar') %><br />
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>

  <div class="field">
  <%= f.label t('devise.registrations.new.name') %><br />
  <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力して下さい。)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.new.role') %>
    <%= f.select :role, User.limited_roles.keys %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.new.address') %>
    <%= f.select :address, User.addresses.keys %>
  </div>

  <div class="field">
    <%= f.label t('devise.registrations.new.user_age') %><br />
    <%= f.number_field :user_age, min:1, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label  t('devise.registrations.new.profile') %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>



  <div class="actions">
    <%= f.submit t('devise.registrations.new.signup') %>
  </div>
<% end %>



