<%= form_with(model: pet) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "件") %> のエラーが発生しているので保存に失敗しました。:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :petpics do |pics| %>
    <div class="field">
    <%= pics.file_field :picture %>
    <%= pics.hidden_field :picture_cache %>
    </div>
  <% end %>


  <div class="field">
    <div>名前</div>
    <%= form.text_field :pet_name, placeholder: 'ペットの名前' %>
  </div>

  <div class="field">
    <div>譲渡地域</div>
    <%= form.select :pet_address, Pet.pet_addresses.keys, placeholder: '譲渡可能な地域' %>
  </div>

  <div class="field">
    <div>譲渡年齢制限</div>
    <%= form.number_field :qualify_age, min:1, placeholder: '譲渡年齢制限' %>歳以下
  </div>

  <div class="field">
  <div>譲渡状況</div>
  <%= form.select :status, Pet.statuses.keys %>

  </div>

  <div class="field">
  <div>譲渡金額</div>
  <%= form.number_field :price, min:0, placeholder: '譲渡金額を入力' %>円
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
