<%= form_with model: [@pet, @feature], url: pet_features_path(@pet)  do |f| %>
  
  <% if @feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature.errors.count, "件") %> のエラーが発生しています:</h2>
      <ul>
        <% @feature.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div>種類</div>
  <%= f.select :dog_or_cat, Feature.dog_or_cats.keys %>

  <div>色</div>
  <%= f.text_field :color, placeholder: '毛色を記入して下さい' %>
  
  <div>体重</div>
  <%= f.number_field :weight, min:0, placeholder: 'わんちゃん、ねこちゃんの体重' %>kg
  
  <div>ペットの年齢</div>
  <%= f.number_field :pet_age, min:0, placeholder: 'わんちゃん、ねこちゃんの年齢' %>歳
  
  <div>性別</div>
  <%= f.select :sex, Feature.sexes.keys %>

  <div>その他</div>
  <%= f.text_area :note, placeholder: '自由入力欄' %>
  
  

  <%= f.hidden_field :pet_id, value: @pet.id %>
 
<br>
  <%= f.submit "登録" %>
<% end %>
