<h1>投稿一覧</h1>

<%= form_with( model:Pet.new, class: "search-form", local: true, method: :get, url: pets_path) do |f| %>
  <ul class="search">
  <li>種類: <%= f.select :dog_or_cat, [["",""], ["犬", 1], ["猫", 2]] %></li>
  <li>年齢制限: <%= f.number_field :qualify_age, min:0 %>歳以下</li>
  <li>都道府県: <%= f.select :pet_address, Pet.pet_addresses.keys, include_blank: true %></li>

  <li> <%= f.submit '検索', class: 'button' %></li>
  </ul>
<% end %>

<% if user_signed_in? %>
  <% if current_user.organization?  || current_user.admin? %>
    <p class = 'new' ><%= link_to '新規投稿+', new_pet_path, class: 'button' %></p>
  <% end %>
<% end %>

  <div class="pet-container">
    <% @pets.each do |pet| %>
      <div class="content">    
        <h2><%= pet.pet_name %></h2>
        <br>
        <% if Feature.find_by(pet_id: pet.id).present? %>  
        <% @feature = Feature.find_by(pet_id: pet.id) %>
        <%= @feature.sex %>  
        <%= @feature.dog_or_cat %> 
        <%= @feature.pet_age %>歳
        <% end %>
        <br>
          <% pet.petpics.each do |pic| %>
            <% if pic.picture.present? %>  
              <%= image_tag(pic.picture.thumb.url) %>
            <% else %>
              <div>写真の投稿はありません</div>
          <% end %> 
          <% end %>
          <br>
          <%= pet.pet_address %>
          <%= pet.status %>
          <br>
          <% if current_user.present? %>
                <%= link_to '詳細ページ', pet %>
          <% end %>
      </div>
      <% end %>
  </div>
<br>


