<h1>Pets</h1>

<%= form_with( model:Pet.new, local: true, method: :get, url: pets_path) do |f| %>
  <table>
  <th>種類: <%= f.select :dog_or_cat, [["",""], ["犬", 1], ["猫", 2]] %></th>
  <th>qualify age: <%= f.text_field :qualify_age, min:0 %></th>
  <th>都道府県: <%= f.select :pet_address, Pet.pet_addresses.keys, include_blank: true %></th>

  <th> <%= f.submit '検索', class: 'btn btn-primary' %></th>
  </table>
<% end %>

<body>
  <div class="container">
    <% @pets.each do |pet| %>
      <div class="content">    
        <h2><%= pet.pet_name %></h2>
        <br>
        <% if Feature.find_by(pet_id: pet.id).present? %>  
        <% @feature = Feature.find_by(pet_id: pet.id) %>
        <%= @feature.sex %>  
        <%= @feature.dog_or_cat %> 
        <%= @feature.pet_age %>歳
        <% end %>
        <br>
          <% pet.petpics.each do |pic| %>
            <% if pic.picture.present? %>  
              <%= image_tag(pic.picture.url) %>
            <% else %>
              <div>写真の投稿はありません</div>
          <% end %> 
          <% end %>
          <br>
          <%= pet.pet_address %>
          <%= pet.status %>
          <br>
          <% if current_user.present? %>
                <%= link_to '詳細ページ', pet %>
          <% end %>
      </div>
      <% end %>
  </div>
</body>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
