
<% unless @pet.user_id == current_user.id %>

  <%= link_to 'この投稿のユーザーを評価する', new_evaluation_path(organization_user_id: @pet.user_id), method: :get %>

<% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(pet_id: @pet.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
<br>
書いた人:<%= @user.name %>
  <% if @user.id != current_user.id %>
    <% if @conversation.present? %>
      <%= link_to 'メッセージ一覧へ', conversations_path %>
    <% else %>
      <div class="item">
        <%= link_to 'メッセージを送る', conversations_path(pet_id: @pet.id, member_ids: [current_user.id, @user.id]), method: :post, class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>

<p>
<% @pet.petpics.each do |pic| %>
  <% if pic.picture.present? %>  
    <%= image_tag(pic.picture.url) %>
  <% else %>
    <div>写真の投稿はありません</div>
    <% end %>
    <% end %>
    <br>
  <strong>仮の名前:</strong>
  <%= @pet.pet_name %>
  <br>
  <strong>譲渡可能地域:</strong>
  <%= @pet.pet_address %>
  <strong>譲渡年齢制限:</strong>
  <%= @pet.qualify_age %>歳
  <br>
  <strong>譲渡ステータス:</strong>
  <%= @pet.status %>
  <strong>譲渡金額:</strong>
  <%= @pet.price %>円
  <br>
  <% if current_user.present? %>
    <% if current_user ==  @user%>
      <%= link_to '基本情報編集', edit_pet_path(@pet) %> 
    <% end %>
  <% end %>
</p>
<% @features.each do |feature| %>
  <strong>種類:</strong>
  <%= feature.dog_or_cat %>
  <strong>色:</strong>
  <%= feature.color %>
  <strong>体重:</strong>
  <%= feature.weight %>kg
  <strong>年齢:</strong>
  <%= feature.pet_age %>歳
  <strong>性別:</strong>
  <%= feature.sex %>
  <br>
  <strong>概要:</strong>
  <%= feature.note %>
<% end %>

<% if current_user.present? %>
  <% if current_user ==  @user%>
    <%= link_to '詳細編集', edit_pet_feature_path(@features) %> 
  <% end %>
<% end %>
<br>
<% if current_user.present? %>
  <% if current_user ==  @user%>
    <td><%= link_to '削除', @pet, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
    <% end %>
<% end %>
<br>


