<h1>User Profile</h1>

<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>ロール : <%= @user.role %></p>

<%= link_to "お気に入り", favorite_pet_user_path(current_user.id) %>
<% if @user.admin? %>
<%= link_to "管理者メニュー", admin_users_path %>
<% end %>
