<!DOCTYPE html>
<html>
  <head>
    <title>Meet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "header-list">
    <h1>MeeT</h1>
    <ul class="horizontal-list">
        <li><%= link_to 'TOP', root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "お気に入り", favorite_pet_user_path(current_user.id) %></li>
          <li><%= link_to "参加チャット", conversations_path %></li>
          <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
          <li><%= link_to 'プロフィール編集', edit_user_registration_path(current_user.id) %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
          <li><%= link_to '投稿一覧', pets_path %></li>
      <ul>
    </div>
    <div>
    <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "notice #{key}" %>
    <% end %>
    </div>
    <br>
    <div class="view_container"> 
    <%= yield %>
    </div> 
    <footer> 
      <p>Copyright(C) 2023 Meet All rights reserved.</p>
    </footer> 
  </body>
</html>
